.titre {
    margin-top: 120px;
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 80px;

}

.intro {
    padding-top: 25px;

}

 body#pagebg {
    background: url(/images/bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

  }

.titre,.intro {
color: white;
font-weight: bold;
margin-left: 10px;
animation: slide 2s;
}
.btn-liste {
    margin-top: 50px;
}

.btn-custom {
    background-color: #4caf50;
    border-color: #4caf50
}


footer {
    background-color: black;
}











































.bg-rose-pale {
    background-color: #ffe6e6;
}








@keyframes slide {

    from {

        transform: translateX(-100px);
        opacity: 0;

    }

    to {

        transform: translateX(0);
        opacity: 1;


    }




}